.listoptions-header {
  font-size: 1rem;
  font-weight: normal;
}

.listoptions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listoption-header-container {
  display: flex;
  font-size: 0.7rem;
  font-weight: bold;
}

.listoption-id-header {
  margin-left: 35px;
  width: 60px;
}

.listoption-airport-header {
  width: 40px;
}

.listoption-time-header {
  width: 50px;
}

.listoptions-item {
  display: flex;
  font-size: 0.7rem;
  align-items: center;
  margin: 5px;
  width: 100%;
}

.listoptions-icon-container {
  height: 12.5px;
  width: 12.5px;
  padding: 5px;
  background-color: #3de678;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listoptions-icon-container-arrival {
  height: 12.5px;
  width: 12.5px;
  padding: 5px;
  background-color: rgb(52, 202, 187);
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listoptions-icon {
  width: 12.5px;
  fill: #fff;
}

.listoption-id {
  width: 60px;
}

.listoptions-error {
  font-size: 0.9rem;
  max-width: 184.5px;
  color: #fff;
  margin-left: auto;
  background-color: rgb(40, 152, 236);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.listoption-airport {
  width: 40px;
}

.listoption-time {
  width: 50px;
}
